torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu
transformers>=4.40
sentencepiece
accelerate
safetensors
optuna
pandas
numpy
scikit-learn
seaborn
matplotlib
tqdm
colorlog
jupytext
nbconvert
statsmodels
pyyaml
jupyter
shap
lime 